<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css">
     
</head>
<body>
  <div class="navbar">
    <h1>Welcome to the Home Page</h1>
   <span>
    <a href="/user/login">Login</a>
    <a href="/user/signup">Sign Up</a>
   </span>
</div>
    <div class="profile">
        <h2>User Profile</h2>
        <div id="user-profile">
          <img src="https://via.placeholder.com/30" alt="User Icon" id="nav-user-icon">
            <p><strong>Name:</strong><%= username %></p>
            <p><strong>Email:</strong> sam.com</p>
        </div>
    </div>
</body>
</html>

