<div id="login" class="container hidden">
    <form>
      <h2>Login</h2>
      <input type="email" placeholder="Email" required />
      <input type="password" placeholder="Password" required />
      <button type="submit">Login</button>
      <div class="message">
        <p>Don't have an account? <a href="#" onclick="showPage('signup')">Signup here</a>.</p>
      </div>
    </form>
  </div>